## Python Programming Lab 
## Practical no. 4
## Topic Covered: Dictionary and Function
## Roll no: 13

1. Consider the information given below and answer the following question.
Employee_data = { 101:[&#39;Shiva&#39;, 24, &#39;Content Strategist&#39;] ,102:[&#39;Udit&#39;,25,&#39;Content Strategist&#39;],
103:[&#39;Sonam&#39;, 28,&#39;Sr Manager&#39;], 104:[&#39;Ansari&#39;,29,&#39;Product Lead&#39; ],105:[&#39;Huzefa&#39;,32,&#39;Project
Manager&#39; ]}

    a. Get details of the oldest Employee

In [18]:
Employee_data={101:['Shiva',24,'Content Strategist'],102:['Udit',25,'Content Strategist'],103:['Sonam',28,'Sr Manager'],104:['Ansari',29,'Product Lead'],105:['Huzefa',32,'Project Manager']}
a=Employee_data[101]
old=a[1]
for i in Employee_data.values():
  if(i[1]>old):
    old=i[1]
print("Oldest employee ",i)

Oldest employee  ['Huzefa', 32, 'Project Manager']

b. Identify the age of the employee with employee id 159 [ If the employee isn&#39;t present
return NA]

In [7]:
if 159 in Employee_data:
    print(Employee_data[159])
else:
    print("NA")

NA

c. Count the total number of employees in the organization

In [7]:
count=len(Employee_data)
print("Total number of employees in the organasization: ",count)

Total number of employees in the organasization:  5

d. Calculate the mean age of the employees

In [9]:
m=0
for i in range(101,106):
    m=m+Employee_data[i][1]
mean=m/len(Employee_data)   
print("Mean age of employees: ",mean)

Mean age of employees:  27.6

e. Perform the following two tasks and then calculate the updated mean age of the employees.Update the ages of employee id - 104,140, and 164 as 27

In [10]:
Employee_data[104][1]=27
Employee_data[140]=['Saloni',27,'Dancer']
Employee_data[164]=['Aman',27,'Dancer']
print("Age of employee id 104: ",Employee_data[104][1])
print("Age of employee id 140: ",Employee_data[140][1])
print("Age of employee id 164: ",Employee_data[164][1])
print(Employee_data)

Age of employee id 104:  27
Age of employee id 140:  27
Age of employee id 164:  27
{101: ['Shiva', 24, 'Content Strategist'], 102: ['Udit', 25, 'Content Strategist'], 103: ['Sonam', 28, 'Sr Manager'], 104: ['Ansari', 27, 'Product Lead'], 105: ['Huzefa', 32, 'Project Manager'], 140: ['Saloni', 27, 'Dancer'], 164: ['Aman', 27, 'Dancer']}

In [12]:
m=0
for i in range(101,106):
    m=m+Employee_data[i][1]
mean=(m+Employee_data[140][1]+Employee_data[164][1])/len(Employee_data)
print("Updated mean age of the employees:",mean)

Updated mean age of the employees: 27.142857142857142

2. Create a SORTED list of all values from the dictionary input_dict = {&#39;Jack Dorsey&#39; : &#39;Twitter&#39; ,
&#39;Tim Cook&#39; : &#39;Apple&#39;, &#39;Jeff Bezos&#39; : &#39;Amazon&#39; , &#39;Mukesh Ambani&#39; : &#39;RJIO&#39;}
Sample Output: [&#39;Amazon&#39;, &#39;Apple&#39;, &#39;RJIO&#39;, &#39;Twitter&#39;]

In [13]:
input_dict={'Jack Dorsey':'Twitter','Tim Cook':'Apple','Jeff Bezos':'Amazon','Mukesh Ambani':'RJIO'}
for item in input_dict.items():
    print(item)
print(list(sorted(input_dict.values())))

('Jack Dorsey', 'Twitter')
('Tim Cook', 'Apple')
('Jeff Bezos', 'Amazon')
('Mukesh Ambani', 'RJIO')
['Amazon', 'Apple', 'RJIO', 'Twitter']

3. Scenario: You are the manager of a supermarket. You have a list of items together with their
prices that consumers bought on a particular day. Your task is to print each item_name and
net_price.
item_name = Name of the item.
net_price = Quantity of the item sold multiplied by the price of each item.
##### Input Format
The first line contains the number of items
The next lines contains the item&#39;s name and price, separated by a space.
##### Constraint
0&lt;n&lt;=100
###### Output Format####
Print the item_name and net_price in order
###### Sample####

In [1]:
print("Enter the number of items: ")
n=int(input())
items_dict=dict()
for i in range(n):
  print("Enter item",i+1)
  item=input()
  item_name,item_price=item.split(' ')
  item_price=int(item_price)
  if(item_name in items_dict):
    items_dict[item_name]+=item_price
  else:
    items_dict[item_name]=item_price
print("Items and their net price are : ")
for keys in items_dict:
  print(keys,items_dict[keys])

Enter the number of items:
3
Enter item 1
Bread 15
Enter item 2
Milk 25
Enter item 3
Butter 40
Items and their net price are :
Bread 15
Milk 25
Butter 40

4. Create a Nested Dictionary Using the given table in the format:
Olympic = {County1 : {Country Code-1 : {Gold : value , Silver : value Bronze:value} },

County2 : {Country Code-2 : {Gold : value , Silver : value , Bronze : value} }, ….}

Country || Country Code ||Year ||Medal-Gold|| Medal-Silver || Medal- Bronze

Great Britain || GBR ||2012 || 29 || 17 || 19

China || CHN || 2012 || 38 || 28 || 22

Russia || RUS || 2012 || 24 || 25 || 32

United States|| US || 2012 || 46 || 28 || 29

Korea || KOR || 2012 || 13 || 8 || 7

Japan || JPN || 2012 || 7 || 14 || 17

Germany || GER || 2012 || 11 || 11 || 14

In [2]:
Olympic={'Great Britain':{'GBR':{'Gold':27,'Silver':17,'Bronze':19}},'China':{'CHN':{'Gold':38,'Silver':28,'Bronze':22}},'Russia':{'RUS':{'Gold':24,'Silver':25,'Bronze':32}},'United States':{'US':{'Gold':46,'Silver':28,'Bronze':29}},
     'Korea':{'KOR':{'Gold':13,'Silver':8,'Bronze':7}},'Japan':{'JPN':{'Gold':7,'Silver':14,'Bronze':17}},'Germany':{'GER':{'Gold':11,'Silver':11,'Bronze':14}}}
print(Olympic)

{'Great Britain': {'GBR': {'Gold': 27, 'Silver': 17, 'Bronze': 19}}, 'China': {'CHN': {'Gold': 38, 'Silver': 28, 'Bronze': 22}}, 'Russia': {'RUS': {'Gold': 24, 'Silver': 25, 'Bronze': 32}}, 'United States': {'US': {'Gold': 46, 'Silver': 28, 'Bronze': 29}}, 'Korea': {'KOR': {'Gold': 13, 'Silver': 8, 'Bronze': 7}}, 'Japan': {'JPN': {'Gold': 7, 'Silver': 14, 'Bronze': 17}}, 'Germany': {'GER': {'Gold': 11, 'Silver': 11, 'Bronze': 14}}}

a.Find the country with maximum gold medals

In [9]:
temp=Olympic['Great Britain']['GBR']['Gold']
for i in Olympic.values():
  for j in i.values():
    while temp<j['Gold']:
      temp=j['Gold']
      max=i.items()
      
print(max,"has maximum gold ")

dict_items([('US', {'Gold': 46, 'Silver': 28, 'Bronze': 29})]) has maximum gold

b. Find the countries with more than 20 gold medals

In [10]:
print("Countries with more than 20 medals are:\n ")
for i in Olympic.values():
  for j in i.values():
    if j['Gold']>20:
      
      print(i.items())

Countries with more than 20 medals are:

dict_items([('GBR', {'Gold': 27, 'Silver': 17, 'Bronze': 19})])
dict_items([('CHN', {'Gold': 38, 'Silver': 28, 'Bronze': 22})])
dict_items([('RUS', {'Gold': 24, 'Silver': 25, 'Bronze': 32})])
dict_items([('US', {'Gold': 46, 'Silver': 28, 'Bronze': 29})])

c. Evaluate the Dictionary and print the name of each country with its gold medals and total number of medals

In [11]:
for i in Olympic.values():
  sum=0
  for j in i.values():
    sum=sum+j['Gold']+j['Silver']+j['Bronze']
    print("all gold medals of ",i.keys() ,"is ", j['Gold'])
    
    print("Sum of all medals of ",i.keys(),"is ",sum)
    print("\n")

all gold medals of  dict_keys(['GBR']) is  27
Sum of all medals of  dict_keys(['GBR']) is  63


all gold medals of  dict_keys(['CHN']) is  38
Sum of all medals of  dict_keys(['CHN']) is  88


all gold medals of  dict_keys(['RUS']) is  24
Sum of all medals of  dict_keys(['RUS']) is  81


all gold medals of  dict_keys(['US']) is  46
Sum of all medals of  dict_keys(['US']) is  103


all gold medals of  dict_keys(['KOR']) is  13
Sum of all medals of  dict_keys(['KOR']) is  28


all gold medals of  dict_keys(['JPN']) is  7
Sum of all medals of  dict_keys(['JPN']) is  38


all gold medals of  dict_keys(['GER']) is  11
Sum of all medals of  dict_keys(['GER']) is  36

5. Write a Python Program to Count the Number of Each Vowel, consonants and spaces in the
given String(Multiline) using Dictionary (Use V_dict for vowels and C_dict for consonants and
spaces)

In [3]:
str = input( "Enter the string=" )
vowels = 0
consonants = 0

str = str.lower()
for i in range(0, len(str)):
      if(str[i] == 'a' or str[i] == 'e' or str[i] == 'i'
          or str[i] == 'o' or str[i] == 'u'):
          vowels = vowels + 1
      elif((str[i] >= 'a'and str[i] <= 'z')):
          consonants = consonants + 1

print("Vowels=", vowels)
print("Consonants=", consonants)

Enter the string=Why are you reading my document?
Vowels= 10
Consonants= 16

6) Take the string your name as input (Ex. Firstname middlename surname). Generate the mail id
as surname followed by first letter from firstname, first letter from middle name, @rknec.edu and
store this into the dictionary as { Mail ID: Name} using function . Do it for 5 students.

In [12]:
def mail(name,name_dict):
  
  lst=name.split(" ")
  id=lst[2]+lst[0][0]+lst[1]+"@rknec.edu"
  name_dict[id]=name
  
name_dict={}
for i in range(5):
  
  name=input("Enter name : ")
  mail(name,name_dict);
print(name_dict)

Enter name : Saloni Vinod Vishwakarma
Enter name : Aishwarya Rai Bachhan
Enter name : Akshay Kumar Bhatia
Enter name : Priya Dilip Panpaliya
Enter name : Radhika Anil Laddha
{'VishwakarmaSVinod@rknec.edu': 'Saloni Vinod Vishwakarma', 'BachhanARai@rknec.edu': 'Aishwarya Rai Bachhan', 'BhatiaAKumar@rknec.edu': 'Akshay Kumar Bhatia', 'PanpaliyaPDilip@rknec.edu': 'Priya Dilip Panpaliya', 'LaddhaRAnil@rknec.edu': 'Radhika Anil Laddha'}

7) Use functions to calculate the trip&#39;s costs:

(i) Define a function called hotel_cost with one argument nights as input. The hotel costs $140 per night. So, the function hotel_cost should returns 140 * nights.

In [14]:
def hotel_cost(night):
  return 140*night
night=int(input("Enter number of nights: "))
print("\n Total hotel cost is $",hotel_cost(night))

Enter number of nights: 5

 Total hotel cost is $ 700

(ii) Define a function called plane_ride_cost that takes a string city as input. The function should return a different price depending on the location.
**Below are the valid destinations and their corresponding round-trip prices.
o &quot;Charlotte&quot;: 183, &quot;Tampa&quot;: 220, &quot;Pittsburgh&quot;: 222, &quot;Los Angeles&quot;: 475**

In [15]:
def plane_ride_cost(city):
  if (city=="Charlotte"):
    return 183
  elif (city=="Tampa"):
    return 220
  elif (city=="Pittsburgh"):
    return 222
  elif (city=="Los Angeles"):
    return 475
  else :
    return "invalid desitination"
city=input("Enter location")
print("Round-trip prices ",plane_ride_cost(city))

Enter locationLos Angeles
Round-trip prices  475

(iii) -Below your existing code, define a function called rental_car_cost with an argument
called days. Calculate the cost of renting the car: Every day you rent the car costs
$40.(cost=40*days)

if you rent the car for 7 or more days, you get $50 off your total(cost-=50). Alternatively (elif), if you rent the car for 3 or more days, you get $20 off your total. You cannot get
both of the above discounts. Return that cost.

In [16]:
def rental_car_cost(days):
  if (days>=3 and days>=7):
      return (40*days)-50
  
  elif (days>=3 and days<=7):
    return (40*days)-20
  
days=int(input("Enter no days : "))
print("Total rent of car is  $",rental_car_cost(days))

Enter no days : 5
Total rent of car is  $ 180

(iv) -Then, define a function called trip_cost that takes two arguments, city and days. Have
your function return the sum of calling the rental_car_cost(days), hotel_cost(days), and
plane_ride_cost(city) functions.

In [17]:
def trip_cost(city,days):
  return rental_car_cost(days)+hotel_cost(days)+plane_ride_cost(city)
city=input("Enter city :")
days=int(input("Enter number of days :"))
print("Total cost of trip  is $",trip_cost(city,days))

Enter city :Tampa
Enter number of days :5
Total cost of trip  is $ 1100