# Practical 2

## Roll No:13
## Batch : C1
## Name: Saloni Vishwakarma

# PART-A

In [13]:
# List of order ID’s which are processed 
processed_orders = [1152, 1154, 1155, 1156, 1157, 1160, 1161, 1162, 1166, 1169, 1170, 1172, 1176, 1050, 1178, 1051, 1052, 1054, 1058, 1060, 1061, 1062, 1065, 1066, 1067, 1068, 1069, 1076, 1077, 1080, 1081, 1083, 1091, 1085, 1088, 1089, 1131, 1092, 1094, 1095, 1099, 1102, 1103, 1104, 1106, 1107, 1108, 1109, 1111, 1117, 1119, 1121, 1150, 1128, 1129, 1136, 1137, 1139, 1140, 1141, 1144, 1148, 1124]
# List of order ID’s which are returned
returned_orders = [1153, 1158, 1159, 1163, 1164, 1165, 1167, 1168, 1171, 1173, 1174, 1175, 1177, 1053, 1055, 1056, 1057, 1059, 1063, 1064, 1070, 1071, 1072, 1073, 1074, 1075, 1078, 1079, 1082, 1084, 1086, 1087, 1090, 1093, 1096, 1097, 1098, 1100, 1101, 1105, 1110, 1112, 1113, 1114, 1115, 1116, 1118, 1120, 1122, 1123, 1125, 1126, 1127, 1130, 1132, 1133, 1134, 1135, 1138, 1142, 1143, 1145, 1146, 1147, 1149, 1151]

# Consider the information available in the above two lists and answer the 
#question given below

#### Count the total number of orders [ Orders include both processed and returned orders]

- 63
- 66
- 126
- 129

In [14]:
total=processed_orders+returned_orders
print(len(total))

129

#### In the total orders, identify the 50th order [ Note: Assume the order ID’s are being generated in a consecutive manner]

- 1152
- 1099
- 1154
- 1100

In [15]:
r=processed_orders+returned_orders
r.sort()
print("50th order is: ",r[49])

50th order is:  1099

#### Is 50th order a returned order or processed order?

- Returned Order
- Processed Order

In [16]:
c1=0
for ele in range(0,len(processed_orders)):
    if(processed_orders[ele]==1099):
        c1=1
if(c1==1):
    print("50th element is a processed order")
else:
    print("50th element is not a processed order")
c2=0
for ele in range(0,len(returned_orders)):
    if(returned_orders[ele]==1099):
        c2=1
if(c2==1):
    print("50th element is a returned order")
else:
    print("50th element is not a returned order")

50th element is a processed order
50th element is not a returned order

#### What is the last processed order ID ? [ Note: Assume the order ID’s are being generated in a consecutive manner]

- 1050
- 1178
- 1124
- 1177

In [21]:
processed_orders.sort()
print(processed_orders[-1])

1178

#### Identify the first 4 orders which are processed?

- 1152, 1154, 1155, 1156
- 1051, 1152, 1153, 1154
- 1050, 1051, 1052, 1054
- 1050, 1051, 1052, 1053

In [24]:
print(processed_orders[0:4])

[1050, 1051, 1052, 1054]

# PART-B

In [2]:
number = [8, 9, 9, 1, 6, 9, 5, 7, 3, 9, 7, 3, 4, 8, 3, 5, 8, 4, 8, 7, 5, 7, 3, 6, 1, 2, 7, 4, 7, 7, 8, 4, 3, 4, 2, 2, 2, 7, 3, 5, 6, 1, 1, 3, 2, 1, 1, 7, 7, 1, 4, 4, 5, 6, 1, 2, 7, 4, 5, 8, 1, 4, 8, 6, 2, 4, 3, 7, 3, 6, 2, 3, 3, 3, 2, 4, 6, 8, 9, 3, 9, 3, 1, 8, 6, 6, 3, 3, 9, 4, 6, 4, 9, 6, 7, 1, 2, 8, 7, 8, 1, 4]
price = [195, 225, 150, 150, 90, 60, 75, 255, 270, 225, 135, 195, 30, 15, 210, 105, 15, 30, 180, 60, 165, 60, 45, 225, 180, 90, 30, 210, 150, 15, 270, 60, 210, 180, 60, 225, 150, 150, 120, 195, 75, 240, 60, 45, 30, 180, 240, 285, 135, 165, 180, 240, 60, 105, 165, 240, 120, 45, 120, 165, 285, 225, 90, 105, 225, 45, 45, 45, 75, 180, 90, 240, 30, 30, 60, 135, 180, 15, 255, 180, 270, 135, 105, 135, 210, 180, 135, 195, 225, 75, 225, 15, 240, 60, 15, 180, 255, 90, 15, 150, 230, 150]

#### How many different products are sold by the company in total?

-  99
-  100
-  101
-  102

In [3]:
print(len(number))
print(len(price))

102
102

####  How many items were sold in total?
- 460
- 490
- 500
- 520

In [4]:
total=0
for ele in range(0,len(number)):
    total=total+number[ele]
print("Total number of elements: ",total)

Total number of elements:  490

#### What is the average price of the products sold by the ecommerce company?
(a) 139
(b) 151
(c) 142
(d) 128

In [8]:
total=0
for ele in range(0,len(price)):
    total=total+price[ele]
avg=int(total/len(price))    
print("Average price of the products:",avg)

Average price of the products: 139

#### What is the price of the costliest item sold?

-  225
-  310
-  280
-  285

In [9]:
print("Price of the costliest element is: ",max(price))

Price of the costliest element is:  285

#### What is the total revenue of the company? [Revenue = Price*Quantity]
- 67100
- 53900
- 45300
- 71200

In [10]:
revenue=0
for ele in range(0,len(price)):
    revenue=revenue+number[ele]*price[ele]
print("Total revenue of the company: ",revenue)

Total revenue of the company:  67100

#### Demand for the 20th product in the list is more than the 50th product. [True/False]
- True
- False
- Can't be calculated

In [11]:
if(number[19]>number[49]):
    print("True")
else:
    print("False")

True

#### How many products fall under the category of expensive goods?
#### An expensive good is that good whose price is more than the average price of the products sold by the company.

- 48
- 50
- 52
- 54

In [12]:
count=0
for ele in range(0,len(price)):
    if(price[ele]>139):
        count=count+1
print("Number of expensive goods are: ",count)

Number of expensive goods are:  52

### 2.Write a program to count the occurrences of vowels in a list =
### [&#39;s&#39;,&#39;h&#39;,&#39;r&#39;,&#39;i&#39;,&#39;r&#39;,&#39;a&#39;,&#39;m&#39;,&#39;d&#39;,&#39;e&#39;,&#39;o&#39;,&#39;b&#39;,&#39;a&#39;,&#39;b&#39;,&#39;a&#39;,&#39;c&#39;,&#39;o&#39;,&#39;l&#39;,&#39;l&#39;,&#39;e&#39;,&#39;g&#39;,&#39;e&#39;]

In [26]:
list=['s','h','r','i','r','a','m','d','e','o','b','a','b','a','c','o','l','l','e','g','e']
print("Given list is: ",list)
count=0
for ele in list:
    if (ele=='a'or ele=='e'or ele=='i'or ele=='o'or ele=='u'):
        count=count+1
print("Vowel count:",count)

Given list is:  ['s', 'h', 'r', 'i', 'r', 'a', 'm', 'd', 'e', 'o', 'b', 'a', 'b', 'a', 'c', 'o', 'l', 'l', 'e', 'g', 'e']
Vowel count: 9

### 3. Write a program to find the repeated items of a tuple. Print item and find how many times it is repeated.

In [27]:
my_tuple=(2,6,4,7,6,5,2,1,6,7,4)
print(my_tuple)
for y in my_tuple:
    
    print("Item:",y,"         Count:",my_tuple.count(y))

(2, 6, 4, 7, 6, 5, 2, 1, 6, 7, 4)
Item: 2          Count: 2
Item: 6          Count: 3
Item: 4          Count: 2
Item: 7          Count: 2
Item: 6          Count: 3
Item: 5          Count: 1
Item: 2          Count: 2
Item: 1          Count: 1
Item: 6          Count: 3
Item: 7          Count: 2
Item: 4          Count: 2

### 4. Given a list, slice it into two equal sized chunks. Your chunk size should be the maximum size possible and reverse each chunk and print the list.

In [30]:
list=[2,4,32,1,5,6,8,9]
a=len(list)
print(a)

8

In [31]:


l1=list[0:int(a/2)]
l2=list[int(a/2):a]
print("Chunk 1:",l1)
print("Chunk 2:",l2)
l1.reverse()
print("Reversed chunk 1:",l1)
l2.reverse()
print("Reversed Chunk 2:",l2)

Chunk 1: [2, 4, 32, 1]
Chunk 2: [5, 6, 8, 9]
Reversed chunk 1: [1, 32, 4, 2]
Reversed Chunk 2: [9, 8, 6, 5]

### 5. Python program that displays i) which letters present in the first string but not in the second string.ii) check common letters present in two input string

In [34]:
x=input("Enter First String:")
y=input("Enter second string:")
for ele in x:
    if(ele  not in y):
        print("Present in first string:",ele)

Enter First String:Saloni
Enter second string:Siya
Present in first string: l
Present in first string: o
Present in first string: n

In [35]:
for a in x:
    if(a in y):
        print("Common letters:",a)

Common letters: S
Common letters: a
Common letters: i