## Python Programming Lab [CCP202]
## Practical no. 3
## Name: Saloni VIshwakarma
## Roll no: C1-13

AIM: 1. Let’s say you have a huge list that contains student grades:
Grades = [&#39;A&#39;, &#39;A&#39;, &#39;B&#39;, &#39;C&#39;, &#39;D&#39;, &#39;B&#39;, &#39;B&#39;, &#39;C&#39;, &#39;D&#39;, &#39;E&#39;, &#39;C&#39;, &#39;C&#39;, &#39;A&#39;, &#39;B&#39;, &#39;F&#39;, &#39;D&#39;, &#39;C&#39;, &#39;B&#39;, &#39;C&#39;, &#39;A&#39;, &#39;B&#39;, &#39;F&#39;,
&#39;B&#39;, &#39;A&#39;, &#39;E&#39;, &#39;B&#39;, &#39;B&#39;, &#39;C&#39;, &#39;D&#39;] You want to identify distinct grades allotted to students.

grades=['A','A','B','C','D','B','B','C','D','E','C','C','A','B','F','D','C','B','C','A','B','F','B','A','E','B','B','C','D']
my_set=set(grades)
print("Distinct grades alloted to the students are: ")
for ele in my_set:
    print(ele)

2. Let’s say you have two lists A and B. Identify the elements which are common in the two lists
A and B and return them in a sorted manner. For example
Sample Input: A = [5,1,3,4,4,5,6,7] B = [3,3,5,5, 1 ,7 ,2] Sample Output: [1,3,5,7]

In [1]:
A=[3,4,5,6,7,8,9]
a=set(A)
B=[1,11,12,6,4,5,7]
b=set(B)
c=a & b
sorted(c)
print("In sorted manner: ",c)

In sorted manner:  {4, 5, 6, 7}

3. Write a Python program to extract numbers from a given string.
Example: Original string: Sachin Tendular scores 100 runs in 2001.
Extract numbers from the said string:
[100, 2001]

In [3]:
print("Enter the string: ")
text=input()
nums=[]
for i in range(0,len(text)):
    if(text[i]>='0' and text[i]<='9'):
        nums.append(text[i])
print("\nNumbers list in string: ")
print(nums)

Enter the string:
sv56yh

Numbers list in string:
['5', '6']

4. In a competition, a school awarded medals in different categories. 36 medals in dance, 12
medals in dramatics and 18 medals in music. If these medals went to a total of 45 persons and
only 4 persons got medals in all the three categories, how many received medals in exactly two
of these categories?

In [7]:
# Let A=number of persons who got medals in dance
# Let B=number of persons who got medals in dramatics
# Let C=number of persons who got medals in music
A=36
B=12
C=18
T=45 #total number of students who got medals(union)
I=4 #students who got medals in all 3 categories(intersection)
# Let,P be the required number i.e,medals received in exactly two categories
P=A+B+C-T+I-3*I
print(P)

13

5. In a group of 100 persons, 72 people can speak English and 43 can speak French. How many
can speak English only? How many can speak French only and how many can speak both
English and French?

In [8]:
T=100 #total persons
E=72 #those who can speak English
F=43 #those who can speak French
C=E+F-T #those who can speak both English and French
print("Persons who can speak both English and French: ",C)
print("Persons who can speak only English: ",E-C)
print("Persons who can speak only French: ",F-C)

Persons who can speak both English and French:  15
Persons who can speak only English:  57
Persons who can speak only French:  28

6. Scenario: In a survey of 500 students of a college, it was found that 49% liked watching
football, 53% liked watching hockey and 62% liked watching basketball. Also, 27% liked
watching football and hockey both, 29% liked watching basketball and hockey both and 28%
liked watching football and basketball both. 5% liked watching none of these games.
 1. How many students like watching all the three games?

In [15]:
F=49
H=53
B=62
FH=27
BH=29
FB=28
TOTAL=100-5
ALL=TOTAL-(F+H+B-FH-FB-BH) #ALL=students watching all three games
print("Students watching all three games: ",ALL*500/100)

Students watching all three games:  75.0


2. Find the ratio of number of students who like watching only football to those who like watching only hockey.

In [16]:
ALL=TOTAL-(F+H+B-FH-FB-BH)
ONLYF=F-(FH+FB-ALL-ALL+ALL)
ONLYH=H-(BH+FH-ALL-ALL+ALL)
print("Ratio required: ",ONLYF/ONLYH)

Ratio required:  0.75

3. Find the number of students who like watching only one of the three given games.

In [17]:
ONLYB=B-(FB+BH-ALL-ALL+ALL)
Z=(ONLYF+ONLYB+ONLYH)*500/100
print("No. of students who like watching only one of the three given games: ",Z)

No. of students who like watching only one of the three given games:  205.0

 4. Find the number of students who like watching at least two of the given games.

In [18]:
TWO=(FH+FB+BH-2*ALL)*500/100
print("No. of students who like watching at least two of the given games: ",TWO)

No. of students who like watching at least two of the given games:  270.0